section{
    padding: 20px 20px;
    color: rgb(72, 72, 72);
    border: solid 0.5px rgba(204, 203, 203, 0.47);
    box-shadow: 0px 1px 2px 1px rgba(164, 164, 164, 0.699);
    margin: 20px 20px;
    width: 78vw;
}

form{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 1.8rem;
}

input{
    margin: 20px 0px;
    border: none;
    border-bottom: solid 1px rgb(186, 186, 186);
    font-size: 1.1rem;
}

input:focus{
    outline: none;
}



button{
    margin: 15px 20px 0 0;
    height: 35px;
    width: 90px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.save-btn{
    background-color: rgb(250, 194, 54);
    color: black;
}

.save-btn:hover{
    background-color: rgb(224, 185, 84);
}

.cancel-btn{
    background-color: rgb(222, 219, 219);
}

.cancel-btn:hover{
    background-color: rgb(191, 190, 190);
}