nav {
  background-color: rgb(43, 149, 213);
  height: 100%;
  min-height: 700px;
  width: 18vw;
  max-width: 200px;
}

div {
  display: flex;
  flex-direction: column;
}

img {
  height: 25px;
  margin-right: 10px;
}

a {
  color: white;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
 
}

.active{
  background-color: rgb(225, 129, 39);
}

span {
  width: 100%;
  max-width: 13vw;
  margin-left: 20px;
  display: flex;
}

p{
    margin-top: 6px;
}

@media screen and (max-width: 768px){
     p{
        display: none;
    }

    img{
        height: 34px;
        margin: 0;
    }

    a{
        justify-content: center;
    }

    span{
        justify-content: center;
        margin: 0;
    }

}
