app-snackbar-created, app-snackbar-updated, app-snackbar-deleted{
    visibility:hidden;
    position: fixed;
    right: -350px;
    top: 100px;
    opacity: 0.1;
    transform: translateX(0px);
    transition: 500ms;
    z-index: 1;
}

router-outlet{
    width: 100%;
}

.show{
    visibility: visible;
    transform: translateX(-370px);
    transition: 500ms;
    opacity: 1;
}

section{
    padding: 20px;
}