<section>
    <form>
        <h2>Deletar produto</h2>
        <div class="form">
            <input type="text" disabled autocomplete="off" [(ngModel)]="product.name" name="name" placeholder=" ">
            <label for="name" class="label-name">
                <span class="content-name">Name</span>
            </label>
        </div>
        <div class="form">
            <input type="number" disabled autocomplete="off" [(ngModel)]="product.price" name="price" placeholder=" ">
            <label for="name" class="label-name">
                <span class="content-name">Preço</span>
            </label>
        </div>
    </form>
    <button class="save-btn" (click)="deleteProduct()">Excluir</button>
    <button class="cancel-btn" (click)="cancel()">Cancelar</button>
</section>